body{
	padding: 10px;
}

a:hover {
	text-decoration: none; 
}

img {
	max-height: 300px;
	display: block;
	margin-left: auto;   
	margin-right: auto;
}

#time_axis{
	margin-left: 50px;
}

#image{
	height: 300px;
}

.label{
	font-size: 13px;
}

.topic{
	text-decoration: none;
}

.not-selected{
	background: #C9C7C8;
	color: #E8E8E8;
}