body{
	padding: 10px;
}

a:hover {
	text-decoration: none; 
}

img {
	max-height: 300px;
}

#time_axis{
	margin-left: 50px;
}

#image{
	height: 300px;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

.label{
	font-size: 13px;
}

.topic{
	text-decoration: none;
}

.not-selected{
	background: #C9C7C8 !important;
	color: #E8E8E8;
}

.topic_check{
	display: none;
}

#topics-submit{
	display: none;
}