<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Events Visualization</title>
		<script type="text/javascript" src="/static/javascript/d3.v2.min.js"></script>
		<script type="text/javascript" src="/static/javascript/date.format.js"></script>
		<script type="text/javascript" src="/static/javascript/visualization.js"></script>
		<script type="text/javascript" src="/static/javascript/jquery.js"></script>
		<script type="text/javascript">
			$(document).ready(init);
		</script>
		<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/visualization.css" type="text/css" />
	</head>
	<body id="body">
		<div class="container-fluid">
			<div class="row-fluid">
    			<div id="info" class="span4">
    				<div id="image">
    				</div>
    				<div id ="locations">
    				</div>
    				<div id="news">
    				</div>
    			</div>
  				<div id="container" class="span8">
  					<form id="topics-form">
	  					<div id="topics-row">
						</div>
						<input type="hidden" id="display_continent" name="display_continent" value="All" />
						<input type="hidden" id="min_date" name="min_date" value="" />
						<input type="hidden" id="max_date" name="max_date" value="" />
					</form>
					<svg id="location_axis"></svg>
					<svg id="canvas"></svg>
					<svg id="time_axis"></svg>
    			</div>
  			</div>
		</div>
	</body>
</html>


